@using VolunteerWebApp.Models
@model LoginViewModel
@{
}
<style>
    #bodyStyle {
        background-image: none;
    }
</style>



<h1 class="titleStyle"><b>Help.Hub Login</b></h1>
<div class="logoOne">
    <div style="margin:60px; padding-top:100px">
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        <br />
                        <br />
                        <div class="greyBox" style="width:700px; margin-left:10%; padding-top:40px; margin-bottom:20px">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control blackBorder" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control blackBorder" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Log in" class="yellowButton" />
                                </div>
                            </div>
                            </div>
                    }
                    <div style="margin-left:15%;padding-bottom:100px"
                        <p><b>OR</b></p>
                        <input style="margin-top:20px;margin-left:80px" type="button" class="yellowButton" value="Register As Organization" onclick="location.href='@Url.Action("RegisterOrganization", "Account")'" /><br />
                        <input style="margin-top:10px;margin-left:80px" type="button" class="yellowButton" value="Register As Volunteer" onclick="location.href='@Url.Action("RegisterVolunteer", "Account")'" />
                    </div>

</section>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
