<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Help.Hub</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">

@if (Request.IsAuthenticated && User.IsInRole("volunteer"))
{
    <a href=@Url.Action("Index", "Volunteer")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">My Hub</li></a>
    <a href=@Url.Action("Index", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Home</li></a>
    <a href=@Url.Action("About", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">About</li></a>
    <a href=@Url.Action("Contact", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Contact</li></a>
    <a href=@Url.Action("Index", "Search")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Search</li></a>
    <a href=@Url.Action("LogOff", "Account")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Log Off</li></a>
    }
else if (Request.IsAuthenticated && User.IsInRole("organization"))
    {
    <a href=@Url.Action("Index", "Organization")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">My Hub</li></a>
    <a href=@Url.Action("Index", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Home</li></a>
        <a href=@Url.Action("About", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">About</li></a>
        <a href=@Url.Action("Contact", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Contact</li></a>
        <a href=@Url.Action("Index", "Search")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Search</li></a>
        <a href=@Url.Action("LogOff", "Account")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Log Off</li></a>
}
else
{
    <a href=@Url.Action("Login","Account")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Login</li></a>
    <a href=@Url.Action("Index", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Home</li></a>
        <a href=@Url.Action("About", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">About</li></a>
        <a href=@Url.Action("Contact", "Home")><li id="whiteHover" style="padding-left:50px; font-family:Georgia;">Contact</li></a>
    }
            </ul>
        </div>
    </nav>






    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()

        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>

            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
