<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href=@Url.Action("Index", "Home")><li id="whiteHover" style="padding-left:50px">Home</li></a>
                <a href=@Url.Action("About", "Home")><li id="whiteHover" style="padding-left:50px">About</li></a>
                <a href=@Url.Action("Contact", "Home")><li id="whiteHover" style="padding-left:50px">Contact</li></a>
@if (Request.IsAuthenticated && User.IsInRole("volunteer"))
{
    <a href=@Url.Action("Index", "Volunteer")><li id="whiteHover" style="padding-left:50px">Profile</li></a>
}
else if (Request.IsAuthenticated && User.IsInRole("organization"))
{
    <a href=@Url.Action("Index", "Organization")><li id="whiteHover" style="padding-left:50px">Profile</li></a>
}

            </ul>
        </div>
    </nav>
    <div>
        @Html.Partial("_LoginPartial")
    </div>





    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
@if (Request.IsAuthenticated && User.IsInRole("volunteer"))
{
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Profile", "Index", "Volunteer")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
}
else if (Request.IsAuthenticated && User.IsInRole("organization"))
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Profile", "Index", "Organization")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
}
else
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
}
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()

        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>

                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
