@model VolunteerWebApp.Models.OpportunityEditViewModel
@{
    ViewBag.Title = "EditOpp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #bodyStyle {
        background-image: none;
    }
</style>

<h1 class="titleStyle"><b>Edit Opportunity: @Model.Title</b></h1>

<div class="logoOne">
    <div style="margin:60px; padding-top:80px">
        @using (Html.BeginForm("EditOpp", "Organization", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="greyBox" style="width:800px; margin-left:10%; padding-top:20px">

                <h3 class="titleStyle"><b>Basic Info about your opportunity:</b></h3>
                <br />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Venue, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Category, new SelectList(Model.CategoryList, "ID", "Category"), new { @class = "form-control  blackBorder" })
                    </div>
                </div>
                <h3 class="titleStyle"><b>Start Date:</b></h3>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDay, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.StartDay, new SelectList(Model.DayList, "ID", "Day"), new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartMonth, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.StartMonth, new SelectList(Model.MonthList, "ID", "Month"), new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartYear, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.StartYear, new SelectList(Model.YearList, "ID", "Year"), new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Duration, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Duration, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <h3 class="titleStyle"><b>Location:</b></h3>
                <div class="form-group">
                    @Html.LabelFor(m => m.StreetAddress, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.State, new SelectList(Model.StateList, "ID", "States"), new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Zipcode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <br />
                <h3 class="titleStyle"><b>Description:</b></h3>

                <div class="form-group">
                    @Html.LabelFor(m => m.ShortDescription, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(m => m.AboutOpportunity, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.AboutOpportunity, new { @class = "form-control blackBorder" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="yellowButton">Save Changes</button>
                        <input type="button" class="yellowButton" style="margin-left:20px" value="Back to MyHub" onclick="location.href='@Url.Action("Index", "Organization")'" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>

