@model VolunteerWebApp.Models.OrganizationProfileViewModel
@{
    ViewBag.Title = "OrganizationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Welcome @Model.ApplicationUser.OrganizationName</h2>


<li>@Html.ActionLink("Update my Info", "Info", "Organization")</li>
<li> @Html.ActionLink("Add/Change logo image", "AddPhoto", "Organization")</li>


@try
{
    <div style="height:200px;width:200px; background-color:grey">
        <img src="@Model.ApplicationUser.ProfilePhoto" style="max-height:200px;max-width:200px" />
    </div>
}
catch
{
    <div style="height:200px;width:200px; background-color:grey">
    </div>
}
<table>
    <thead>
        <tr><th> Basic Info </th></tr>
    </thead>
    <tbody>
        <tr><td></td></tr>
        <tr><td>Organization Name: @Model.ApplicationUser.OrganizationName </td></tr>
        <tr><td>Name: @Model.ApplicationUser.FirstName  @Model.ApplicationUser.LastName </td></tr>
        <tr><td>E-mail: @Model.ApplicationUser.Email </td></tr>
        <tr><td>Phone: @Model.ApplicationUser.PhoneNumber </td></tr>
        <tr>
            <td>
                Address: @Model.Information.StreetAddress <br /> @Model.Information.City <br />
                @*@Model.Information.State.States*@ <br /> @Model.Information.Zipcode
            </td>
        </tr>



    </tbody>
</table>


<table>
    <thead>
        <tr><th> About me </th></tr>
    </thead>
    <tbody>
        @try
        {
        <tr><td>@Model.Information.AboutInfo </td></tr>
        }
        catch
        { }
    </tbody>
</table>

<p>My opportunities</p>

<table>
    <thead>
        <tr><th>Title</th>
        <th>Organization</th>
        <th>Category</th>
        <th>Start Date</th>
        <th>Description</th></tr>
    </thead>
    <tbody>
        @foreach (var opp in Model.OpportunityList)
        {
            <tr><td>@opp.Title </td>
            <td> @opp.OrganizationHostName</td>
            <td> @opp.Category</td>
            <td> @opp.StartMonth/ @opp.StartDay/ @opp.StartYear</td>
            <td> @opp.AboutOpportunity</td>
            <td>@Html.ActionLink("View More","FullView", new { id = opp.ID }) </td></tr>
        }
    </tbody>
</table>

<li> @Html.ActionLink("Add a new opportunity", "Create", "Opportunity")</li>
