@model VolunteerWebApp.Models.PartialProfileOrganizationViewModel
@{
    ViewBag.Title = "PartialProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="../../css/capstone.css">
<style>
        body {
        background-image: url("../../images/logo.jpeg");
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: center;
        background-position-y: 100px;
        background-attachment:fixed;
    }
        td {
        padding: 10px;
    }

    th {
        padding: 5px;
    }
</style>




<h1><b>@Model.Organization.OrganizationName</b></h1>



<div class="Row">

    <div class="Column" style="padding-left:40px; width:20%">
        <br />
        <br />
        <img src="../@Model.Organization.ProfilePhoto" style="height:250px ;border-radius: 4px" class="blackBorder" />
    </div>
    <div class="Column greayBox" style="padding-left:40px;width:60%">
        <br /><br /><br /><br />
        <h3 style="text-align:center"><b>About @Model.Organization.OrganizationName</b></h3>
        <p class="greyBox" style="margin:20px;min-height:150px">@Model.OrganizationInfo.AboutInfo</p>
    </div>
    <div class="Column" style="width:20%">
        <div class="greyBox" style="width:200px;">
            <br />
            <br />
            <h4><b>Contact Information</b></h4>
            <br />
            <div style="margin-left:25px">
                <p><b>Phone:</b>@Model.Organization.PhoneNumber</p>
                <p><b>Address:</b></p>
                <div style="margin-left:20px">
                    <p>@Model.OrganizationInfo.StreetAddress</p>
                    <p>@Model.OrganizationInfo.City</p>
                    <p>Wisconsin</p>
                    <p>@Model.OrganizationInfo.Zipcode</p>
                </div>
            </div>
        </div>
        <br />
        @using (Html.BeginForm("Index", "Message", FormMethod.Get))
            {
            <input type="text" style="display:none" name="users" value="@Model.Organization.Email" />
            <input type="submit" class="yellowButton" style="margin-left:20px" value="Message Organization" />
        }
    </div>
</div>
<div style="margin-top:40px">
    <h3 style="text-align:center"><b>Organization Opportunities</b></h3>
    <table style="width:100%">
        <thead style="background-color:#668cff">
            <tr>
                <th style="border-top-left-radius:6px">Title</th>
                <th>Organization</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>Description</th>
                <th style="border-top-right-radius:6px"></th>
            </tr>
        </thead>
        <tbody class="greyBox">
            @foreach (var opp in Model.Opportunities)
            {
                <tr>
                    <td>@opp.Title </td>
                    <td> @opp.OrganizationHostName</td>
                    <td> @opp.Category</td>
                    <td> @opp.StartMonth/ @opp.StartDay/ @opp.StartYear</td>
                    <td> @opp.AboutShort</td>
                    <td>@Html.ActionLink("View More", "FullView", new { id = opp.ID }) </td>
                </tr>
            }
        </tbody>
    </table>
</div>