@model VolunteerWebApp.Models.PartialProfileOrganizationViewModel
@{
    ViewBag.Title = "Organization rofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../../css/capstoneTwo.css" id="themeSwitch">


<style>

        td {
        padding: 10px;
    }

    th {
        padding: 5px;
    }
</style>




<h1 class="titleStyle" style=""><b>@Model.Organization.OrganizationName</b></h1>



<div class="Row">

    <div class="Column" style="padding-left:40px; width:20%">
        <br />
        <br />
        <img src="../@Model.Organization.ProfilePhoto" style="height:200px;width:200px ;border-radius: 4px" class="blackBorder" />
    </div>
    <div class="Column " style="padding-left:40px;width:60%">
        <br />
        <br />
        <br />
        <br />
        <table>
            <thead>
                <tr class="titleStyle greyBox"><th><h2 style="text-align:center;"><b>About @Model.Organization.OrganizationName</b></h2></th></tr>
                <tr><th style="text-align:center;background-color:#222222 ;color:#222222;"> _</th></tr>
            </thead>
            <tbody class="greyBox" style="min-height:300px">
                @try
                {
                    <tr><td>@Model.OrganizationInfo.AboutInfo </td></tr>
                }
                catch
                { }
            </tbody>
        </table>
    </div>
    <div class="Column" style="width:20%">
        <div class="greyBox" style="width:200px; margin-left:20px">
            <br />
            <br />
            <h3 class="titleStyle"><b>Contact Information</b></h3>
            <br />
            <div style="margin-left:25px">
                <p><b>Phone:</b>@Model.Organization.PhoneNumber</p>
                <p><b>Address:</b></p>
                <div style="margin-left:20px">
                    <p>@Model.OrganizationInfo.StreetAddress</p>
                    <p>@Model.OrganizationInfo.City</p>
                    <p>Wisconsin</p>
                    <p>@Model.OrganizationInfo.Zipcode</p>
                </div>
            </div>
        </div>
        <br />
        @using (Html.BeginForm("Index", "Message", FormMethod.Get))
            {
            <input type="text" style="display:none" name="users" value="@Model.Organization.Email" />
            <input type="submit" class="yellowButton" style="margin-left:20px" value="Message Organization" />
        }
    </div>
</div>
<div style="margin-top:40px">
    <table style="width:100%">
        <thead>
            <tr class="titleStyle greyBox"><th colspan="6"><h2 style="text-align:center;"><b>Organization Opportunities</b></h2></th></tr>
            <tr class="" style="background-color:#222222;color:#ffffe6; text-align:center">
                <th style="border-top-left-radius:2px">Title</th>
                <th>Organization</th>
                <th>Category</th>
                <th>Start Date</th>
                <th>Description</th>
                <th style="border-top-right-radius:2px"></th>
            </tr>
        </thead>
        <tbody class="greyBox">
            @foreach (var opp in Model.Opportunities)
            {
                <tr>
                    <td>@opp.Title </td>
                    <td> @opp.OrganizationHostName</td>
                    <td> @opp.Category</td>
                    <td> @opp.StartMonth/ @opp.StartDay/ @opp.StartYear</td>
                    <td> @opp.AboutShort</td>
                    <td>@Html.ActionLink("View More", "FullView", new { id = opp.ID }) </td>
                </tr>
            }
        </tbody>
    </table>
</div>