@model VolunteerWebApp.Models.PartialProfileOrganizationViewModel
@{
    ViewBag.Title = "PartialProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="../../css/capstone.css">
<style>
        body {
        background-image: url("../../images/logo.jpeg");
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: center;
        background-position-y: 100px;
        background-attachment:fixed;
    }
        td {
        padding: 10px;
    }

    th {
        padding: 5px;
    }
</style>




<h1><b>@Model.Organization.OrganizationName</b></h1>



<div style="max-height:400px;margin-top:40px">

    <div>
        <img src="../@Model.Organization.ProfilePhoto" style="height:250px" />
    </div>
    <div>
        <h3>About Info</h3>

        <p>@Model.OrganizationInfo.AboutInfo</p>
    </div>
    <h3 style="text-align:center"><b>Organization Opportunities</b></h3>
</div>
<table style="width:100%">
    <thead style="background-color:#668cff">
        <tr>
            <th>Title</th>
            <th>Organization</th>
            <th>Category</th>
            <th>Start Date</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="greyBox">
        @foreach (var opp in Model.Opportunities)
        {
            <tr>
                <td>@opp.Title </td>
                <td> @opp.OrganizationHostName</td>
                <td> @opp.Category</td>
                <td> @opp.StartMonth/ @opp.StartDay/ @opp.StartYear</td>
                <td> @opp.AboutShort</td>
                <td>@Html.ActionLink("View More", "FullView", new { id = opp.ID }) </td>
            </tr>
        }
    </tbody>
</table>