@model VolunteerWebApp.Models.MessageViewModel
@{
    ViewBag.Title = "Hub.Mesage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #bodyStyle {
        background-image: none;
    }
</style>



<h1 class="titleStyle"><b> Send A Message </b></h1>
<div class="logoOne">
    <div style="margin:90px;margin-left:110px; padding-top:80px">
        @using (Html.BeginForm("Index", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form", sender = Model.SendFrom }))
        {
            <form>
                <h2 class="titleStyle"><b>Message to:</b></h2>
                <div style="margin-left:60px; padding-top:10px;padding-bottom:200px">
                    <div class="greyBox" style="width:340px">
                        @if (User.IsInRole("organization"))
                        {
                            try
                            {
                                foreach (var user in Model.SendList)
                                {
                                <h4><b>@user.UserTitle </b></h4>
                                }
                            }
                            catch
                            {
                                foreach (var user in Model.SendList)
                                {
                                    <h4><b>@user.OrganizationName </b></h4>
                                }
                            }
                        }
                        else if (User.IsInRole("volunteer"))
                        {
                            try
                            {
                                foreach (var user in Model.SendList)
                                {
                                <h4><b>@user.OrganizationName </b></h4>
                                }
                            }
                            catch
                            {
                                foreach (var user in Model.SendList)
                                {
                                    <h4><b>@user.UserName </b></h4>
                                }
                            }
                        }
                        <br />
                        <p><b>Subject</b></p>
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })

                        <p><b>Message</b></p>
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })

                        <input value="@Model.SendFrom.Id" name="@Model.SendFrom.Id" style="display:none" />
                        @foreach (var person in Model.SendList)
                {
                            <input type="text" value="@person.Id" name="sendTo" style="display:none" />
                        }
                        <br />
                        <button type="submit" class="yellowButton">Send</button>
                    </div>
                </div>
</form>
        }
    </div>
</div>

