@model VolunteerWebApp.Models.VolunteerProfileViewModel
@{
    ViewBag.Title = "VolunteerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VolunteerIndex</h2>

<li>@Html.ActionLink("Update my Info", "Info", "Volunteer")</li>
<li>@Html.ActionLink("Update my Skills", "Skills", "Volunteer")</li>
<li>@Html.ActionLink("Account Settings", "Settings", "Volunteer")</li>


<table>
    <thead>
        <tr><th> Basic Info </th></tr>
    </thead>
    <tbody>
        <tr><td></td></tr>
        <tr><td>UserName: @Model.ApplicationUser.UserTitle </td></tr>
        <tr><td>Name: @Model.ApplicationUser.FirstName  @Model.ApplicationUser.LastName </td></tr>
        <tr><td>E-mail: @Model.ApplicationUser.Email </td></tr>
        <tr><td>Phone: @Model.ApplicationUser.PhoneNumber </td></tr>
        <tr><td>Address: @Model.Information.StreetAddress <br /> @Model.Information.City <br />
            @*@Model.Information.State.States*@ <br /> @Model.Information.Zipcode
             </td></tr>



    </tbody>
</table>


<table>
    <thead>
        <tr><th> About me </th></tr>
    </thead>
    <tbody>
    <tr><td>@Model.Information.AboutInfo </td></tr> 
     </tbody>
</table>

<table>
    <thead>
        <tr><th> About my skills</th> </tr>
    </thead>
    <tbody><tr><td>@Model.Skill.AboutSkills</td></tr>  </tbody>
</table>