@model VolunteerWebApp.Models.VolunteerProfileViewModel
@{
    ViewBag.Title = "VolunteerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../css/capstone.css">



<h2><b>Welcome, @Model.ApplicationUser.UserTitle </b></h2>
<br /><br />


<div class="container">
    <div class="col-sm-3" style="padding-top:40px">

    @try
    {
        <div style="height:250px;width:250px; background-color:grey; float:left" >
            <img src="@Model.ApplicationUser.ProfilePhoto" style="height:100%;width:100%"/>
        </div>
    }
    catch
    {
        <div style="height:200px;width:200px; background-color:grey">
            </div>
    }

        <li>@Html.ActionLink("Account Settings", "Settings", "Volunteer")</li>
        <li> @Html.ActionLink("Add/Change a profile photo", "AddPhoto", "Volunteer")</li>
</div>





 <div class="col-lg-6" style="padding-top:70px">

     <h3 class="blueText" style="text-align:center"><b>My Skills</b></h3>
     <table style="margin-top:20px; width:100%">
         <thead>
             <tr class="tableHeadText blueBox yellowText"><th class="tablePadding" style="text-align:center">Category</th><th>Skill Level</th> </tr>
         </thead>
         <tbody>
             <tr></tr>
             @try
             {
                 <tr><td class="tablePadding">Animal Services Skill Level:</td><td><img src='@Model.AnimalImageSrc' style="height:20px"></td></tr>
                 <tr><td class="tablePadding">Disaster Prevention Skill Level:</td><td><img src='@Model.DisasterImageSrc' style="height:20px" class="starFit"></td></tr>
                 <tr><td class="tablePadding">Educational Services Skill Level:</td><td><img src='@Model.EducationImageSrc' style="height:20px" class="starFit"></td></tr>
                 <tr><td class="tablePadding">Enviornmental Services Skill Level:</td><td><img src='@Model.EnviornmentImageSrc' style="height:20px" class="starFit"></td></tr>
                 <tr><td class="tablePadding">Health Services Skill Level:</td><td><img src='@Model.HealthImageSrc' style="height:20px" class="starFit"></td></tr>
                 <tr><td class="tablePadding">Human Services Skill Level:</td><td><img src='@Model.HumanServicesImageSrc' style="height:20px" class="starFit"></td></tr>
                 <tr><td class="tablePadding" colspan="2"></td></tr>
                 <tr><td class="tablePadding" colspan="2">@Model.Skill.AboutSkills</td></tr>
                <tr><td class="tablePadding" style="text-align:right" colspan="2">@Html.ActionLink("Update my Skills", "Skills", "Volunteer")</td></tr>

             }
             catch
             {
                 <tr><td class="tablePadding" colspan="2">Skills haven't been set yet! Click on 'update my skills' to add some information about your skills </td></tr>
                 <tr><td class="tablePadding" colspan="2">@Html.ActionLink("Update my Skills", "Skills", "Volunteer")</td></tr>
             }
         </tbody>
     </table>
</div>




    <div class="col-sm-3" style="margin-top:20px;">
        <table style="float:right">
            <thead>
                <tr><th> My Contact Info </th></tr>
            </thead>
            <tbody>
                <tr><td></td></tr>
                <tr><td>UserName: @Model.ApplicationUser.UserTitle </td></tr>
                <tr><td>Name: @Model.ApplicationUser.FirstName  @Model.ApplicationUser.LastName </td></tr>
                <tr><td>E-mail: @Model.ApplicationUser.Email </td></tr>
                <tr><td>Phone: @Model.ApplicationUser.PhoneNumber </td></tr>
                @if (Model.Information != null)
                {
                    <tr>
                        <td>
                            Address: @Model.Information.StreetAddress <br /> @Model.Information.City <br />
                            @*@Model.Information.State.States*@ <br /> @Model.Information.Zipcode
                        </td>
                    </tr>
                }
                <tr><td>@Html.ActionLink("Update my Info", "Info", "Volunteer")</td></tr>
            </tbody>
        </table>

        <h3 class="blueText" style="text-align:center"><b> About me</b></h3>

        <table style="width:100%; border-radius:20px">
            <thead>
            </thead>
            <tbody>
                @try
                {
                    <tr><td>@Model.Information.AboutInfo </td></tr>
                }
                catch
                {
                    <tr><td>No info yet! Click on 'update my info' to add some info about yourself </td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<table id="opps">
    <thead>
        <tr><th> My Opportunities</th> </tr>
    </thead>
    <tbody>
        @try
        {
            int i = 0;
            foreach (var opp in Model.MyOpportunities)
            {
                if (i < 5)
                {
                    <tr><td>@opp.OrganizationHostName</td><td>@opp.Category</td><td>@opp.AboutShort</td><td>@Html.ActionLink("More Info", "FullView", "Organization", new { id = @opp.ID }, null)</td></tr>
                    i++;
                }
            }

            for (int j = 5; j < Model.MyOpportunities.Count; j++)
            {
                <tr class="child" id="allOpps"><td>@Model.MyOpportunities[j].OrganizationHostName</td><td>@Model.MyOpportunities[j].Category</td><td>@Model.MyOpportunities[j].AboutShort</td><td>@Html.ActionLink("More Info", "FullView", "Organization", new { id = @Model.MyOpportunities[j].ID }, null)</td></tr>
            }
        }
        catch
        {
            <tr><td>No opportunities have been picked yet! Head over to 'Search Opportunities' to find some! </td></tr>
        }
    </tbody>
</table>


<table>
    <thead>
        <tr><th> My Referals</th> </tr>
    </thead>
    <tbody>
        @try
        {
            if (Model.VolunteerSettings.CanRefer == true)
            {
                try
                {
                    foreach (var opp in Model.ReferOpportunities)
                    {
                        {
                            <tr><td>@opp.OrganizationHostName</td><td>@opp.Category</td><td>@opp.AboutShort</td><td>@Html.ActionLink("More Info", "FullView", "Organization", new { id = @opp.ID }, null)</td></tr>
                        }
                    }

                }
                catch
                {
                    <tr><td>No opportunities match your skill level, but we'll let you know if one comes up! </td></tr>
                }
            }
            else
            {
                <tr><td>Preferences are set to 'Do not refer'. Visit 'My settings' if you'd like to get referals.</td></tr>
            }
        }
        catch
        {
            <tr><td>Visit 'My Settings' to be able to enable referals</td></tr>
        }

    </tbody>
</table>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    var numShown = 5;
    var numMore = 50;
    var $table = $('#opps').find('tbody');
    var numRows = $table.find('tr').length; // Total # rows

    $(function () {
        // Hide rows and add clickable div
        $table.find('tr:gt(' + (numShown - 1) + ')').hide().end()
            .after('<tbody id="more"><tr><td colspan="' +
                   $table.find('tr:first td').length + '"><div> Show All </div</tbody></td></tr>');

        $('#more').click(function () {
            numShown = numShown + numMore;
            // no more "show more" if done
            if (numShown >= numRows) {
                $('#more').remove();
            }
            // change rows remaining if less than increment
            if (numRows - numShown < numMore) {
                $('#more span').html(numRows - numShown);
            }
            $table.find('tr:lt(' + numShown + ')').show(800);
        });

    });
</script>


@Html.ActionLink("Search for opportunities", "Index", "Search");