@model VolunteerWebApp.Models.PartialProfileVolunteerViewModel
@{
    ViewBag.Title = "PartialProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Partial Volunteer Profile </h2>

<h2>@Model.Volunteer.Email</h2>

<h3>About Volunteer</h3>

<table>
    <tbody>
        @try
        {
            <tr><td>@Model.VulunteerInfo.AboutInfo </td></tr>
        }
        catch
        {
            <tr><td>Volunteer Info has not been set yet </td></tr>
        }
    </tbody>
</table>
<table>
    <thead>
        <tr><th> Volunteer's skills</th> </tr>
    </thead>
    <tbody>
        @try
        {
            <tr><td>@Model.VolunteerSkills.AboutSkills</td></tr>
            <tr><td>Animal Services Skill Level:</td><td><img src='@Model.AnimalImageSrc' style="height:20px"></td></tr>
            <tr><td>Disaster Prevention Skill Level:</td><td><img src='@Model.DisasterImageSrc' style="height:20px" class="starFit"></td></tr>
            <tr><td>Educational Services Skill Level:</td><td><img src='@Model.EducationImageSrc' style="height:20px" class="starFit"></td></tr>
            <tr><td>Enviornmental Services Skill Level:</td><td><img src='@Model.EnviornmentImageSrc' style="height:20px" class="starFit"></td></tr>
            <tr><td>Health Services Skill Level:</td><td><img src='@Model.HealthImageSrc' style="height:20px" class="starFit"></td></tr>
            <tr><td>Human Services Skill Level:</td><td><img src='@Model.HumanServicesImageSrc' style="height:20px" class="starFit"></td></tr>
        }
        catch
        {
            <tr><td>Volunteer's Skills haven't been set yet </td></tr>
        }
    </tbody>
</table>

@if (Model.OpportunityInterest.CanContact == true )
{
    <p>Contact User Link</p>
}
else
{
    <p>This user does not wish to be contacted</p>
}