@model VolunteerWebApp.Models.PartialProfileVolunteerViewModel
@{
    ViewBag.Title = "Volunteer Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../../css/capstone.css">


<h1 style="color:#001a66;font-family:Georgia;"><b>@Model.Volunteer.UserName</b></h1>
<br />
<div class="logoTwo">
    <div style="margin:60px; padding-top:80px ; padding-bottom:300px">
        <div class="Row" style="margin-left: 80px">
            <div class="Column" style="width: 400px">
                <div class="" style="width:300px">
                    <h3 class="titleStyle"><b>About Volunteer</b></h3>

                    <table class="greyBox">
                        <tbody>
                            @try
            {
                                <tr><td>@Model.VulunteerInfo.AboutInfo </td></tr>
                            }
                            catch
                            {
                                <tr><td>Volunteer Info has not been set yet </td></tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <br />
                @if (Model.OpportunityInterest.CanContact == true)
                {
                    using (Html.BeginForm("Index", "Message", FormMethod.Get))
                    {
                        <input type="text" style="display:none" name="users" value="@Model.Volunteer.Email" />
                    <input type="submit" class="yellowButton" style="margin-left:20px" value="Message Volunteer" />
                    }
                }
                else
                {
                    < p > This user does not wish to be contacted </ p >
                }
            </div>
            <div class="Column">
                @try

            {
                    <h3 class="titleStyle"><b>Volunteer Skills</b></h3>
                    <div class="greyBox" style="margin:40px">
                        <b>Animal Services Skill Level:</b> <img src='../@Model.AnimalImageSrc' style="height:25px"><br />
                        <p style="margin-left:20px">@Model.VolunteerSkills.AboutAnimal</p><br />
                        <b>Disaster Prevention Skill Level:</b> <img src='../@Model.DisasterImageSrc' style="height:25px" class="starFit"><br />
                        <p style="margin-left:20px">@Model.VolunteerSkills.AboutDisaster</p><br />
                        <b>Educational Services Skill Level:</b> <img src='../@Model.EducationImageSrc' style="height:25px" class="starFit"><br />
                        <p style="margin-left:20px">@Model.VolunteerSkills.AboutEducation</p><br />
                        <b>Enviornmental Services Skill Level:</b> <img src='../@Model.EnviornmentImageSrc' style="height:25px" class="starFit"><br />
                        <p style="margin-left:20px">@Model.VolunteerSkills.AboutEnviornment</p><br />
                        <b>Health Services Skill Level:</b> <img src='../@Model.HealthImageSrc' style="height:25px" class="starFit"><br />
                        <p style="margin-left:20px">@Model.VolunteerSkills.AboutHealth</p><br />
                        <b>Human Services Skill Level:</b> <img src='../@Model.HumanServicesImageSrc' style="height:25px" class="starFit">
                        <p style="margin-left:20px">@Model.VolunteerSkills.AboutHumanServices</p><br />
                    </div>
                }
                catch
                {
                    <p>Volunteer's Skills haven't been set yet</p>
                }
            </div>
        </div>

</div>
</div>