@model VolunteerWebApp.Models.VolunteerSettingsViewModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../css/capstone.css">



<h1 class=""><b>Contact Settings</b></h1>
<br />
<br />
<div class="logoOne">
    <div style="margin:60px; padding-top:120px">
        @using (Html.BeginForm("Settings", "Volunteer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <div class="greyBox" style="width:400px; margin-left:10%">
                <div style="margin:15px">
                    <form>
                        <h3><b>Allow Help.Hub to contact me</b></h3>
                        <div>
                            @Html.LabelFor(m => m.CanContact, "Do not contact me")
                            @Html.RadioButtonFor(m => m.CanContact, "0")
                        </div>
                        <div>
                            @Html.LabelFor(m => m.CanContact, "Feel free to contact me ")
                            @Html.RadioButtonFor(m => m.CanContact, "1")
                        </div>
                        <br />
                        <h3><b>Allow Organizations and Volunteers to see me</b></h3>
                        <div>
                            @Html.LabelFor(m => m.CanSee, "Hide my username")
                            @Html.RadioButtonFor(m => m.CanSee, "0")
                        </div>
                        <div>
                            @Html.LabelFor(m => m.CanSee, "Let me be seen!")
                            @Html.RadioButtonFor(m => m.CanSee, "1")
                        </div>
                        <br />
                        <h3><b>Allow Help.Hub so send me opportunities</b></h3>
                        <div>
                            @Html.LabelFor(m => m.CanRefer, "Do not send references")
                            @Html.RadioButtonFor(m => m.CanRefer, "0")
                        </div>
                        <div>
                            @Html.LabelFor(m => m.CanRefer, "Sure! That sounds great!")
                            @Html.RadioButtonFor(m => m.CanRefer, "1")
                        </div>
                        <br />
                        <br />
                        <button type="submit" style="margin-right:40px" class="yellowButton">Submit Settings</button>


                    </form>
                    <input type="button" class="yellowButton" value="Back to MyHub" onclick="location.href='@Url.Action("Index", "Volunteer")'" />
                    <br />
                    <br />
                </div>
            </div>
        }
    </div>
</div>




